$accent-color: #f98edc;
$background-color: white;
$background-color-dark: rgb(36, 36, 36);
$text-color: black;
$transition-delay: 1s;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(75, 75, 75);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: $background-color;
  color: $text-color;
}
.dark {
  background-color: $background-color-dark;
  color: $background-color;
}
.theme-icon {
  top: 1rem;
  right: 1rem;
  position: fixed;
}
@import "./song";
@import "./player";
@import "./library";
